* {
    margin: 0;
    padding: 0;
}
a {
    color: #666;
    text-decoration: none;
}
html{
	height: 100%;
}
body {
    padding: 20px;
    color: #666;
    font-size: 14px;
    height: 100%;
}
ul,li{
	list-style-type:none;
}
input,button{
	outline: none;
}
.fl{
    float: left;
}
.fr {
    float: right;
}
.clearFix:after{
	content:"";
	display: none;
	width: 0;
	height: 0;
	clear: both;
}
.clearFix{
	zoom: 1;
	overflow: hidden;
}
#loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url('../img/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}
#app{
	min-width: 1000px;
	display: none;
}

/* 购物车页面 */
.goodsList{
	min-width: 1000px;	
	margin: 20px 0 40px;
}
.goodsList ul li{
	border: 1px solid #eee;
	width: 220px;
	float: left;
	margin: 10px;
}
.goodsList ul li:hover{
	border: 1px solid #ED975D;
}
.goodsList ul li .picture{
	font-size: 0;
	width: 220px;
	height: 220px;
	overflow: hidden;
	line-height: 220px;
	text-align: center;
	background: #FFFFFF;
}
.goodsList ul li .picture img{
	width: 220px;
}
.goodsList ul li .price{
	color:#D1434A;
	font-size: 18px;
	padding-left: 10px;
}
.goodsList ul li p{
	margin: 10px 0;
	height: 38px;
	line-height: 19px;
	font-size: 14px;
	padding: 0 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goodsList ul li .addCart{
	height: 40px;
}
.goodsList ul li .addCart button{
	width: 220px;
	height: 40px;
	border: none;	
	background: #D1434A;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.cartList{
	width: 100%;
	margin-top: 30px;
	display: none;
}
.cartList ul.cartHead{
	height: 40px;
	line-height: 40px;
	background: #616161;
	color:#fff;
	text-align: center;
}
.cartList ul li{
	float: left;
}
.cartList ul li.cartList-item1{
	text-align: center;
	width: 10%;
}
.cartList ul li.cartList-item2{
	width: 30%;
}
.cartList ul li.cartList-item3{
	width: 15%;
	text-align: center;
}
.cartList ul li.cartList-item4{
	text-align: center;
	width: 15%;
}
.cartList ul li.cartList-item5{
	text-align: center;
	width: 15%;
}
.cartList ul li.cartList-item6{
	text-align: center;
	width: 15%;
}
.cartList ul.cartContent{
	height: 120px;
	border-bottom: 1px solid #ccc;
}
ul.cartContent img{
	width:80px;
}
ul.cartContent li{
	line-height: 120px;
}
ul.cartContent li.goods {
	overflow: hidden;
	line-height: 120px;
}
ul.cartContent li.goods img{
	vertical-align: middle;
}
ul.cartContent li.count input{
	width: 40px;
	height: 18px;
	text-align: center;
}
ul.cartContent li.count .reduce,ul.cartContent li.count .add{
	/*display: inline-block;*/
	margin: 0 4px;
}
.cartFoot{
	height: 80px;
	line-height: 80px;
	display: none;
}
.cartFoot .closing a{
	display: block;
	border: none;
	background: #D1434A;
	width: 160px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	margin-top: 15px;
}
.cartFoot .total{
	width: 300px;
	padding-right: 20px;
	text-align: right;
}
.cartFoot .select-all{
	margin: 0 15px;
}
/* 删除订单弹窗信息 */
.msg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(102,102,102,0.7);
	display: none;
	min-width: 1000px;
}
.msg .inner{
	width: 500px;
	height: 240px;
	background: #fff;
	margin: 150px auto;
}
.msg .inner .top{
	height: 28px;
	line-height: 28px;
	text-align: right;
}
.msg .inner .top a{
	margin-right: 10px;
}
.msg .inner .content .comfirm-tips{
	width: 100%;
	height: 72px;
}
.content .comfirm-tips p{
	text-align: center;
	font-size: 18px;
	padding-top: 30px;
}
.content .btn-wrap{
	width: 100%;
	height: 140px;
	font-size: 0;
	position: relative;
}
.content .btn-wrap button{
	border: 2px solid #D1434A;
	width: 200px;
	height: 46px;
	font-size: 14px;
	color: #D1434A;;
	background: #fff;
	position: absolute;
	top: 60px;
	cursor: pointer;
}
.btn-wrap button.yes{
	left: 30px;
}
.btn-wrap button.no{
	right: 30px;
}
.btn-wrap button.active,.btn-wrap button:hover{
	background: #D1434A;
	color: #fff;
}
.empty{
	width: 100%;
	height: 60px;
	background-image: url('../icon/cart.png');
	background-repeat: no-repeat;
	background-position: 60px center;
	padding: 60px 0;
	display: none;
}
.empty h2{
	line-height: 60px;
	padding-left:180px ;
}

/* 地址页面  */
.title{
	width: 100%;
	height: 38px;
	position: relative;
}
.title .line{
	display: block;
	height: 2px;
	background: #E3E3E3;
	width: 100%;
	position: absolute;
	top: 18px;
	left: 0;
	z-index: -999;
}
.title h2{
	width: 110px;
	height: 100%;
	line-height: 38px;
	font-size: 18px;
	margin: 0 auto;
	background: #fff;
	text-align: center;
}
.addressList ul {
	min-width: 1000px;
	overflow: hidden;
	margin-top: 30px;
}
.addressList ul li{
	width: 260px;
	height: 124px;
	padding: 20px;
	border: 1px solid #E3E3E3;
	position: relative;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
.addressList ul li:hover,.addressList ul li.active{
	border:1px solid #ED975D
}
.addressList ul li.active .isDefault,.addressList ul li.active .operate{
	display: block;
}
.addressList ul li dt{
	font-size: 20px;
	margin-bottom: 10px;
	color:#333;
}
.addressList ul li dd.address{
	margin-bottom: 28px;
	color: #333;
}
.addressList ul li dd.tel{
	margin-bottom: 10px;
}
.addressList ul li .isDefault{
	display: none;
}
.addressList ul li .isDefault a{
	color: #ED975D;
	font-weight: bold;
}
.addressList ul li .operate{
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%; 
	position: absolute;
	right: 20px;
	display: none;
}
.addressList ul li .setting{
	background-image: url('../icon/set.png');
	top: 20px;;
}
.addressList ul li .delete{
	background-image: url('../icon/del.png');
	bottom: 20px;
}
.addressList ul li.newAddress{
	background-image: url('../icon/add.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.addressList .more{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 18px;
	color:#ED975D;
	border: 1px solid #E3E3E3;
}
.shippingWay,.btn-next{
	margin-top: 50px;
}
.shippingWay .btn-wrap{
	text-align: center;
	font-size: 0;
	padding-top: 20px;
}
.shippingWay .btn-wrap button{
	border: 2px solid #eee;
	background: #fff;
	color:#999;
	font-size: 14px;
	width: 200px;
	height: 46px;
	cursor: pointer;
}
.shippingWay .btn-wrap button.active,.shippingWay .btn-wrap button:hover{
	border: 2px solid #ED975D;
	color:#333;
}
.shippingWay .btn-wrap button:first-child{
	margin-right: 20px;
}
.btn-next{
	text-align: center;
}
.btn-next .next{
	border: none;
	width: 150px;
	height: 36px;
	background: #D1434A;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	box-shadow: 0 0 4px 1px #ccc;
}

.addressEdit{
	width: 100%;
	height: 100%;
	min-width: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(102,102,102,0.7);
	display: none;
}
.addressEdit .inner{
	width: 560px;
	margin: 60px auto;
	background: #FFFFFF;
	padding-top: 10px;
}
.addressEdit .form-group{
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	margin: 10px 0;
}
.form-group .control-label{
	width: 60px;
	display: inline-block;
	color: #333;
}
.form-group .form-control{
	width: 400px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	margin-left: 20px;
	border: 1px solid #E4E4E4;
}
.btn-group{
	font-size: 0;
	text-align: center;
	padding: 30px 0;
}
.btn-group button{
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
button.save{
	background: #FF2D4B;
	margin-right: 25px;
}
button.cancel{
	background: #666666;
}

.show{
	display: block;
}